<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="fragments/header :: header-css"/>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <title>Dashboard | Attandance Manager</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container bg-light">
  <h1 class="text-center">Welcome! <span th:text="${user.fullname}"></span></h1>
  <div class="row justify-content-center">

    <div class="col-sm-6">

      <table class="table table-borderless table-dark">
        <tr>
          <th>User Name</th>
          <td th:text="${user.fullname}"></td>
        </tr>
        <tr>
          <th>Email</th>
          <td th:text="${user.email}"></td>
        </tr>
        <tr>
          <th>Designation</th>
          <td th:text="${user.designation}"></td>
        </tr>
      </table>

    </div>

  </div>

  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEmployee">
      ADD EMPLOYEE
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header text-center bg-info">
          <h5 class="modal-title text-white w-100 font-weight-bold py-2 ">ADD EMPLOYEE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <form th:action="@{/admin/addemployee}" th:object="${addEmployeeDTO}" method="post">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="fullname"><b>Fullname:</b></label>
                  <input type="text" class="form-control" id="fullname" name="fullname">
                </div>
                <div class="form-group">
                  <label for="email"><b>Email address:</b></label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                  <label for="age"><b>Age:</b></label>
                  <input type="text" class="form-control" id="age" name="age">
                </div>
                <div class="form-group">
                  <label for="designation"><b>Designation:</b></label>
                  <select class="form-control" id="designation" name="designation">
                    <option>QA</option>
                    <option>DEVELOPER</option>
                    <option>SR_DEVLOPER</option>
                    <option>SQL_DEVLOPER</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">SAVE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="py-3">
    <table class="table table-secondary">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>FULLNAME</th>
        <th>EMAIL</th>
        <th>AGE</th>
        <th>DESIGNATION</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="euser:${userList}">
        <td th:text="${euser.id}"></td>
        <td th:text="${euser.fullname}"></td>
        <td th:text="${euser.email}"></td>
        <td th:text="${euser.age}"></td>
        <td th:text="${euser.designation}"></td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
</body>
</html>
