<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <div th:fragment="header-css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </div>
  <title>Title</title>
</head>
<body>
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand"
       style="font-family: cursive; text-shadow: 2px 2px 5px #FF5611; font-style: italic; font-weight: bolder"
       href="#">
      <span class="text-center">ATTENDANCE<br>MANAGER</span>
    </a>
    <div sec:authorize="isAuthenticated()">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav display-3">
        <li class="nav-item">
          <a class="nav-link text-right" th:href="@{/logout}">
            <div sec:authorize="isAuthenticated()">
              <button class="btn btn-secondary ">LogOut</button>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>


</body>
</html>
