<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div th:replace="fragments/header :: header-css"/>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <title>Password Update</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container ">
  <div class="=row justify-content-center">
    <div class="col-md-6 offset-md-3 my-5 text-white">
      <form th:action="@{'/savepassword/'+${id}}" method="post">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="password">

        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-primary" onclick="return Validate()">Save</button>
        </button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  function Validate() {
    var password        = document.getElementById('password').value;
    var confirmPassword = document.getElementById('confirmPassword').value;
    if (password != confirmPassword) {
      alert('Passwords do not match.');
      return false;
    }
    return true;
  }
</script>
</body>
</html>
